body{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.container{
    width:calc((100%/4) - 160px);
    padding-top: 60px;
    padding-bottom: 100px;
    padding-right: 60px;
    padding-left: 100px;
}
.img_1_2{
    position: relative;
    width: 100%;
}

.img_1_2 .img_1,
.img_1_2 .img_2{
    width: 100%;
}

.img_1_2 .img_1{
    position: relative;
    z-index: 1;
}

.img_1_2 .img_2{
    position: absolute;
    z-index: 0;
    top:40px;
    right:40px;
    filter: blur(5px);
}

@media only screen and (max-width: 1200px) {
    .container{
        width:calc((100%/3) - 160px);
    }
}

@media only screen and (max-width: 900px) {
    .container{
        width:calc((100%/2) - 160px);
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width:calc(100% - 160px);
    }
}